@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2>Telerik UI DatePicker for ASP.NET Core - Html Helper</h2>
    @(Html.Kendo().DatePicker()
    .Name("picker-name")
        )
</div>


<div class="text-center">
    <h2>Telerik UI DatePicker for ASP.NET Core - Tag Helper</h2>
    <kendo-datepicker name="my-picker" />
</div>