@model string

@Html.HiddenFor(m => m, new {id = "etFileName"})
@Html.ValidationMessageFor(m => m)
<span>FIle @Model</span>
<input type="file" class="form-control" id="IAddPhoto" name="PhotoPath" required>
<img id="IPhotoDisplayEdit" style="height:100px" />

<script>


    $(document).ready(function () {
        var observer = new MutationObserver(function () {
            var url = "/" + $("#etFileName").val();
            console.log(url);
            $("#IPhotoDisplayEdit").attr("src", url);
            observer.disconnect();
        });

        observer.observe(document.documentElement, { childList: true, subtree: true });
    });
</script>